@import url('https://fonts.googleapis.com/css?family=Italianno');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/images/background-img.jpg');
  background-size: 100%;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  position: relative;

}

#wrapper {
  font-family: 'Covered By Your Grace';
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color:#FFE4C4;
}

/*-- Header --*/
#header {
  background-color: rgba(255, 204, 153, .8);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.header {
  opacity: .8;
}

header .header-name a {
  font-family: 'Covered By Your Grace';
  font-size: 5vw;
  color: white;
  text-align: right;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 0 10px 0 30px;
}

nav {
  padding-right: 100px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 30px;
  font-weight: lighter;
  font-size: 1.4vw;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid;
  cursor: pointer;
}

.page-container {
  margin: 80px auto;
  width: 70%;
  background-color: rgba(255, 204, 153, .8);
  padding: 40px;
}

.section-title {
  font-family: 'Covered By Your Grace';
  font-size: 40px;
  color: white;
  padding-bottom: 20px;
}

#about-text {
  font-size: 30px;
}

#about-header {
  text-align: center;
}

.profile-img {
  border-radius: 100px;
}

/* Projects Page Styles */

#project-grid div {
  border: solid 1px #DEB887;
  padding: 2px;
  display: flex;
}

#project-container {
  margin: 40px;
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  padding: 40px 0;
}

#project-grid div .project-info {
  background-color:  rgba(255, 204, 153, .7);
  width: 120px;
  margin: 0 0 0px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#project-header {
  background-color:  rgba(255, 204, 153, .7);
  padding: 20px;
}

.project-title {
  font-size: 30px;
}

.grid-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 98% 98%;
  /* opacity: .8; */
  height: 19.5vw;
}

input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
}

label, .error-text {
  font-size: 30px;
}

.btn {
  font-size: 30px;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  color: #DEB887;
  border-radius: 5px;
}

.resume-title {
  font-size: 25px;
  text-decoration: underline;
  padding: 20px 0;
}

#resume p, li {
  padding: 5px;
  font-size: 18px;
}

footer {
  background-color: rgba(255, 204, 153, .8);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer {
  background-color: rgba(255, 204, 153, .8);
  position:absolute;
  bottom:0;
  width:100%;
  height:60px; 
}

footer ul {
  display: flex;
  font-size: 1.5vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  text-align: center;
}

footer ul li {
  margin: 20px;
}








